<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <script>
    var socket = io.connect('http://localhost:3000');
    socket.on('news', function (data) {
       console.log(data);
       socket.emit('my other event', { my: 'data' });
    });
  </script>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
